<a href="https://colab.research.google.com/github/MevrouwHelderder/final_assignment/blob/main/Final_Assignment_Energy_production_and_consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final assignment - Energy production and consumption

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%load_ext google.colab.data_table

In [2]:
path_base = "https://raw.githubusercontent.com/MevrouwHelderder/final_assignment/main/"

paths = {
    "energy_total" : path_base + "owid-energy-data.csv",
    "co2_greenhouse" : path_base + "owid-co2-data.csv",
    "net_zero_pledge" : path_base + "net-zero-targets.csv",
    # "agri_land_use_total" : path_base + "total-agricultural-area-over-the-long-term.csv",
    # "grazing" : path_base + "grazing-land-use-over-the-long-term.csv",
    # "cropland" : path_base + "cropland-use-over-the-long-term.csv"
}

dataframes = {}

for key, value in paths.items():
  dataframes[key] = pd.read_csv(value)

energy_total_df = dataframes["energy_total"]
co2_greenhouse_df = dataframes["co2_greenhouse"]
net_zero_pledge_df = dataframes["net_zero_pledge"]
# agri_land_use_total_df = dataframes["agri_land_use_total"]
# grazing_df = dataframes["grazing"]
# cropland_df = dataframes["cropland"]

# Exploration
Let's first explore the datasets to see what we are working with.
It might also be better to weed out data that is not needed now and perhaps combine data that is needed.

In [3]:
# the CO2 dataframe
# selecting the needed columns, changing the index
explore_co2 = co2_greenhouse_df.loc[:, ["country", "year", "iso_code", "population", "co2", "co2_growth_abs", "co2_growth_prct", "co2_per_capita", "trade_co2", "consumption_co2", "consumption_co2_per_capita" ]]
explore_co2 = explore_co2.set_index("year")
explore_co2.index = pd.to_datetime(explore_co2.index, format="%Y", errors="coerce")

# show only the true countries, not the combinations like continents
explore_co2 = explore_co2[~explore_co2["iso_code"].isnull()]

In [8]:
# The energy dataframe
# Renaming column names so there is more uniformity
for column in energy_total_df.columns:
    if "_energy_per_capita" in column:
        new_name = column.replace("_energy_per_capita", "_cons_per_capita")
        energy_total_df.rename(columns={column: new_name}, inplace=True)
    if "renewable" in column:
        new_name = column.replace("renewable_", "renewables_")
        energy_total_df.rename(columns={column: new_name}, inplace=True)

energy_total_df.rename(columns={"other_renewables_elec_per_capita_exc_biofuel" :"other_renewables_exc_biofuel_elec_per_capita",
                             "other_renewables_share_elec_exc_biofuel": "other_renewables_exc_biofuel_share_elec"}, inplace=True)

# Setting the index
energy_total_df = energy_total_df.set_index("year")
energy_total_df.index = pd.to_datetime(energy_total_df.index, format="%Y", errors="coerce")

In [9]:
# Making a test dataframe to check what the columns store
test = energy_total_df[energy_total_df["country"]=="Germany"].iloc[100: 119,:]

# make a column for all fossil fuels: 
test['fossil_electricity'] = (test['coal_electricity'] + test[ 'oil_electricity'] + test['gas_electricity']).round(3)

# Lists of columns that are presumed to be the same as the columns that store combined values: 
presumed_renewables = ['wind_electricity', 'solar_electricity', 'hydro_electricity', 'biofuel_electricity', 'other_renewables_exc_biofuel_electricity']
presumed_low_carbon = ['nuclear_electricity', 'renewables_electricity']
presumed_all = ['low_carbon_electricity', 'fossil_electricity']

# Function that checks if the values in certain columns are indeed combined into another column
def check_columns(df, column_list, column):
  presumed_group = df.loc[:,column_list].sum(axis=1).round(3)
  if (presumed_group == df[column]).all():
    print(f"Succes! The column {column} is the sum of {column_list}")
  else: 
    print ("The column {column} does not consist of the values of the columns {column_list} combined")

check_columns(test, presumed_low_carbon, 'low_carbon_electricity')
check_columns(test, presumed_all, 'electricity_generation')
check_columns(test, presumed_renewables, 'renewables_electricity')

Succes! The column low_carbon_electricity is the sum of ['nuclear_electricity', 'renewables_electricity']
Succes! The column electricity_generation is the sum of ['low_carbon_electricity', 'fossil_electricity']
Succes! The column renewables_electricity is the sum of ['wind_electricity', 'solar_electricity', 'hydro_electricity', 'biofuel_electricity', 'other_renewables_exc_biofuel_electricity']

Conclusion: 
* **wind, solar, hydro, biofuel, other renewables exc biofuel, nuclear, coal, oil and gas** are exclusive energy sources

* **renewables** is the sum of wind, solar, hydro, biofuel, other renewables exc biofuel
* **low_carbon** is the sum of wind, solar, hydro, biofuel, other renewables exc biofuel and nuclear
* **fossil** could be the sum of coal, oil and gas, I can make a column for that

# Making dataframes with just the information needed.
Since the original dataframe is huge, both column- and rowwise, I want to make new dataframes with only the information I need per type of energy.
All columns are named following a pattern so I can use that to my advantage.

In [10]:
# Renewables:
# Add later: manuals
renew_list = ['wind', 'solar', 'hydro', 'biofuel']

# Fossil:
fossil_list = ['coal', 'oil', 'gas']

# low_carbon:
# Add later: manuals
low_carbon_list = ['wind', 'solar', 'hydro', 'biofuel', 'nuclear']

# totals:
# Add later: column fossil
totals_list = ['renewables', 'low_carbon']

# base column name format: 
base_list = ['_electricity', '_elec_per_capita', '_consumption', '_cons_per_capita', '_cons_change_pct', '_cons_change_twh']

# columns that won't work with the function: 
manual = ['other_renewables_exc_biofuel_electricity', 'other_renewables_exc_biofuel_elec_per_capita']

# function to create a new list from a list of topics and a list of measurements
def combine_lists(topic_list, measurement_list):
    new_columns = ['country', 'iso_code', 'population', 'gdp']
    for topic_item in topic_list:
        for measurement_item in measurement_list:
            new_columns.append(topic_item + measurement_item)
    return new_columns

# creating the column names
renewables_columns = (combine_lists(renew_list, base_list)) + manual
fossils_columns = combine_lists(fossil_list, base_list)
low_carbon_columns = (combine_lists(low_carbon_list, base_list)) + manual
totals_columns = combine_lists(totals_list, base_list)

# making the dataframes
renewables_df = energy_total_df.loc[:,renewables_columns]
fossils_df = energy_total_df.loc[:,fossils_columns]
low_carbon_df = energy_total_df.loc[:,low_carbon_columns]
totals_df = energy_total_df.loc[:,totals_columns]

# creating a new column that combines all the fossil fuels
for substring in base_list:
    matching_columns = [column for column in fossils_df.columns if substring in column]
    summed_column = fossils_df[matching_columns].sum(axis=1)
    new_column_name = f"fossil{substring}"
    totals_df[new_column_name] = summed_column

# Checking to see if the columns for the combined fossil fuels are correct
print(totals_df[totals_df["country"]=="Germany"].loc['2000-01-01',["fossil_electricity"]])
print(energy_total_df[energy_total_df["country"]=="Germany"].loc['2000-01-01',["coal_electricity", "gas_electricity", "oil_electricity"]].sum())

fossil_electricity    367.22
Name: 2000-01-01 00:00:00, dtype: object
367.22

In [13]:
totals_df.head(1)

Warning: Total number of columns (22) exceeds max_columns (20). Falling back to pandas display.

,country,iso_code,population,gdp,renewables_electricity,renewables_elec_per_capita,renewables_consumption,renewables_cons_per_capita,renewables_cons_change_pct,renewables_cons_change_twh,...,low_carbon_consumption,low_carbon_cons_per_capita,low_carbon_cons_change_pct,low_carbon_cons_change_twh,fossil_electricity,fossil_elec_per_capita,fossil_consumption,fossil_cons_per_capita,fossil_cons_change_pct,fossil_cons_change_twh
year,,,,,,,,,,,,,,,,,,,,,
1900-01-01,Afghanistan,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# pledge dataframe
net_zero_pledge_df.rename(columns={'Entity': 'country', 'Code': 'iso_code', 'Year' :'pledged_year', 'Status of net-zero target': 'status'}, inplace=True)

# Let's look at the top tens of countries when it comes to the output of CO2:
since not all data was available for the years after 2020 I will use 2020.

In [11]:
# Total production, not corrected for trade :
top_co2_2020 = explore_co2.loc["2020-01-01 00:00:00",["country", "co2"]].sort_values(by="co2", ascending = False).head(10)
top_co2_2020

                  country        co2
year
2020-01-01          China  10956.213
2020-01-01  United States   4715.691
2020-01-01          India   2445.012
2020-01-01         Russia   1624.221
2020-01-01          Japan   1042.224
2020-01-01           Iran    729.978
2020-01-01   Saudi Arabia    661.193
2020-01-01        Germany    639.381
2020-01-01      Indonesia    609.786
2020-01-01    South Korea    597.634

In [5]:
# Total production per capita, not corrected for trade :
top_co2_pc_2020 = explore_co2.loc["2020-01-01 00:00:00",["country", "co2_per_capita"]].sort_values(by="co2_per_capita", ascending = False).head(10)
top_co2_pc_2020

                         country  co2_per_capita
year
2020-01-01                 Qatar          33.640
2020-01-01               Bahrain          25.451
2020-01-01                Brunei          23.890
2020-01-01   Trinidad and Tobago          23.553
2020-01-01                Kuwait          22.883
2020-01-01  United Arab Emirates          21.436
2020-01-01         New Caledonia          18.807
2020-01-01          Saudi Arabia          18.368
2020-01-01                  Oman          15.959
2020-01-01             Australia          15.579

In [6]:
# Total co2 for own consumption: 
top_co2_consumer_2020 = explore_co2.loc["2020-01-01 00:00:00",["country", "consumption_co2"]].sort_values(by="consumption_co2", ascending = False).head(10)
top_co2_consumer_2020

                  country  consumption_co2
year
2020-01-01          China        10033.401
2020-01-01  United States         5197.398
2020-01-01          India         2276.881
2020-01-01         Russia         1360.149
2020-01-01          Japan         1187.141
2020-01-01        Germany          769.492
2020-01-01    South Korea          659.497
2020-01-01           Iran          658.446
2020-01-01   Saudi Arabia          657.944
2020-01-01      Indonesia          624.227

In [7]:
# Total co2 for own consumption per capita: 
top_co2_consumer_pc_2020 = explore_co2.loc["2020-01-01 00:00:00", ["country", "consumption_co2_per_capita"]].sort_values(by="consumption_co2_per_capita", ascending = False).head(10)
top_co2_consumer_pc_2020

                         country  consumption_co2_per_capita
year
2020-01-01                 Qatar                      25.771
2020-01-01             Singapore                      24.238
2020-01-01                Brunei                      22.550
2020-01-01                Kuwait                      22.232
2020-01-01  United Arab Emirates                      19.848
2020-01-01          Saudi Arabia                      18.278
2020-01-01   Trinidad and Tobago                      17.253
2020-01-01                 Malta                      16.612
2020-01-01         United States                      15.471
2020-01-01               Belgium                      15.392

# Interesting!
It shows that countries that produce a lot do not nessecarily use a lot and vise versa.

"country", "year", "iso_code", "population", "gdp", "electricity_demand", 


**electricity_demand**. Electricity demand, measured in terawatt-hours
**electricity_generation**. Electricity generation, measured in terawatt-hours
**energy_per_capita**. Primary energy consumption per capita, measured in kilowatt-hours
**energy_cons_change_pct**. Annual percentage change in primary energy consumption
**energy_cons_change_twh**. Annual change in primary energy consumption, measured in terawatt-hours

**fossil_electricity**. 	Electricity generation from fossil fuels, measured in terawatt-hours. (Sum of coal, oil and gas.)
**fossil_elec_per_capita**. 	Per capita electricity generation from fossil fuels, measured in kilowatt-hours. 
**fossil_fuel_consumption**. 	Fossil fuel consumption, measured in terawatt-hours. 
**fossil_energy_per_capita**. Per capita fossil fuel consumption, measured in kilowatt-hours. 
**fossil_cons_change_pct**. 	Annual percentage change in fossil fuel consumption
**fossil_cons_change_twh**. 	Annual change in fossil fuel consumption, measured in terawatt-hours

**biofuel_electricity**. 	Electricity generation from biofuels, measured in terawatt-hours
**biofuel_elec_per_capita**. 	Per capita electricity generation from biofuels, measured in kilowatt-hours
**biofuel_consumption**. 	Primary energy consumption from biofuels
**biofuel_cons_per_capita**. 	Per capita primary energy consumption from biofuels
**biofuel_cons_change_pct**. 	Annual percentage change in biofuel consumption
**biofuel_cons_change_twh**. 	Annual change in biofuel consumption

**coal_electricity**. 		Electricity generation from coal
**coal_elec_per_capita**. 	Per capita electricity generation from coal
**coal_consumption**. 		Primary energy consumption from coal
**coal_cons_per_capita**. 	Per capita primary energy consumption from coal
**coal_cons_change_twh**. 	Annual change in coal consumption
**coal_cons_change_pct**. 	Annual percentage change in coal consumption

**gas_electricity**. 		Electricity generation from gas
**gas_elec_per_capita**. 	Per capita electricity generation from gas
**gas_consumption**. 		Primary energy consumption from gas
**gas_energy_per_capita**. 	Per capita primary energy consumption from gas
**gas_cons_change_twh**. 	Annual change in gas consumption
**gas_cons_change_pct**.  	Annual percentage change in gas consumption

**hydro_electricity**. 		Electricity generation from hydropower
**hydro_elec_per_capita**.	Per capita electricity generation from hydropower
**hydro_consumption**.		Primary energy consumption from hydropower
**hydro_energy_per_capita**.	Per capita primary energy consumption from hydropower
**hydro_cons_change_pct**.	Annual percentage change in hydropower consumption 
**hydro_cons_change_twh**.	Annual change in hydropower consumption

**oil_electricity**.		Electricity generation from oil
**oil_elec_per_capita**.	Per capita electricity generation from oil
**oil_consumption**.		Primary energy consumption from oil
**oil_energy_per_capita**.	Per capita primary energy consumption from oil
**oil_cons_change_twh**.	Annual change in oil consumption
**oil_cons_change_pct**.	Annual percentage change in oil consumption

**low_carbon_electricity**.	Electricity generation from low-carbon sources, measured in terawatt-hours. (Sum of renewables and nuclear.)
**low_carbon_elec_per_capita**.Per capita electricity generation from low-carbon sources, measured in kilowatt-hours
**low_carbon_consumption**.	Primary energy consumption from low-carbon sources, measured in terawatt-hours
**low_carbon_energy_per_capita**.Per capita primary energy consumption from low-carbon sources
**low_carbon_cons_change_twh**.Annual change in low-carbon energy consumption, measured in terawatt-hours
**low_carbon_cons_change_pct**.Annual percentage change in low-carbon energy consumption

**nuclear_electricity**.	Electricity generation from nuclear power
**nuclear_elec_per_capita**.	Per capita electricity generation from nuclear power
**nuclear_consumption**.	Primary energy consumption from nuclear power 
**nuclear_energy_per_capita**.Per capita primary energy consumption from nuclear
**nuclear_cons_change_twh**.	Annual change in nuclear consumption
**nuclear_cons_change_pct**.	Annual percentage change in nuclear consumption

**other_renewable_electricity**.Electricity generation from other renewables including biofuels
**other_renewable_elec_per_capita**.Per capita electricity generation from other renewables including biofuels. 
**other_renewable_consumption**.Primary energy consumption from other renewables including biofuels
**other_renewable_energy_per_capita**.Per capita primary energy consumption from other renewables including biofuels
**other_renewable_cons_change_twh**.Annual change in other renewables consumption
**other_renewable_cons_change_pct**.Annual percentage change in other renewables consumption

**renewable_electricity**.	Electricity generation from renewables including biofuels
**renewable_elec_per_capita**.Per capita electricity generation from renewables including biofuels. 
**renewable_consumption**.	Primary energy consumption from renewables including biofuels
**renewable_energy_per_capita**.Per capita primary energy consumption from renewables including biofuels
**renewable_cons_change_twh**.Annual change in renewables consumption
**renewable_cons_change_pct**.Annual percentage change in renewables consumption

**solar_electricity**.		Electricity generation from solar 
**solar_elec_per_capita**.	Per capita electricity generation from solar
**solar_consumption**.		rimary energy consumption from solar
**solar_energy_per_capita**.	er capita primary energy consumption from solar
**solar_cons_change_twh**.	Annual change in  solar consumption
**solar_cons_change_pct**.	Annual percentage change in  solar consumption

**wind_electricity**.		Electricity generation from wind
**wind_elec_per_capita**.	Per capita electricity generation from wind
**wind_consumption**.		rimary energy consumption from wind
**wind_energy_per_capita**.	Per capita primary energy consumption from wind
**wind_cons_change_twh**.	Annual change in wind consumption
**wind_cons_change_pct**.	Annual percentage change in wind consumption

**carbon_intensity_elec**. 	Carbon intensity of electricity production, measured in grams of carbon dioxide emitted per kilowatt-hour

# What are the safest and cleanest?

https://ourworldindata.org/safest-sources-of-energy#the-safest-energy-sources-are-also-the-cleanest

This is your final assignment. You'll get a lot of freedom in doing this assignment but that also means you have to make choices and explain the reasoning behind those choices in your report.

For this assignment you can use any dataset you can find from the [Our World in Data website](https://ourworldindata.org/).

Please formulate an answer to the following three questions in your report.

* **What is the biggest predictor of a large CO2 output per capita of a country?**
* **which countries are making the biggest strides in decreasing CO2 output?**
* **which non-fossil fuel energy technology will have the best price in the future?**




---


**1: Biggest predictor of CO2 output**

To determine this you may want to consider things like GDP per capita, diets, number of cars per capita, various energy source, mobility and other factors.

Your answer can also be a specific combination of certain factors.


---


**2: Biggest strides in decreasing CO2 output**

You'll need to find the relative CO2 output for each country to be able to calculate this. But countries can have growing and shrinking populations too, so it's probably a good idea to take this into account as well.


---


**3: Best future price for non-fossil fuel energy**

To be able to predict prices you'll probably need to use linear regression over the various non-fossil fuel options.


---


**Submitting your Assignment**

Once you're done with this module, you can go to the next item where you'll be able to submit your assignment.

Please submit both your written report and all notebooks you've created in creating the report. Make sure everything works before submitting.

# Thoughts: 
**For the biggest predictor of a large CO2 output per capita of a country, you can use the following datasets:**

* CO2 emissions by country: This dataset provides historical CO2 emissions data for different countries over time.
* Energy consumption by fuel type: This dataset shows the energy consumption of different countries categorized by fossil fuels (coal, oil, gas), renewables, and other sources.
* Population by country: This dataset provides population data for different countries over time.

By combining these datasets, you can calculate CO2 emissions per capita and analyze the relationship between various factors like energy consumption, population, and CO2 emissions.

**To identify the countries making the biggest strides in decreasing CO2 output, you can use the following datasets:**

* CO2 emissions by country: This dataset will be useful again to track changes in CO2 emissions over time.
* Annual change in CO2 emissions: This dataset provides the annual percentage change in CO2 emissions for different countries.
* Renewable energy production: This dataset includes information on the production of renewable energy, such as solar, wind, hydro, and geothermal.

By analyzing the annual change in CO2 emissions and comparing it with the growth in renewable energy production, you can identify countries that are successfully reducing their CO2 output.

**For determining the non-fossil fuel energy technology with the best price in the future, you can consider the following datasets:**

* Costs of different energy technologies: This dataset provides information on the costs of various energy technologies, including solar, wind, hydro, nuclear, and others. It can help you analyze the trends and projections for future energy costs.
* Renewable energy capacity and investment: This dataset shows the installed capacity and investment trends in renewable energy sources, which can provide insights into the growth potential and competitiveness of different technologies.

By examining the cost trends and comparing the capacity and investment data, you can assess which non-fossil fuel energy technology is expected to have the most favorable price in the future.


**Find what countries do:**

* did they make any pledges
* what kind of energy are they using now


* What contributes to CO2 output?

* What are the prices for the different types of non-fossil energy?

* What happens when a country outsources everything?

* How about CO2 vs the other GHG (greenhouse gasses)? Are there countries where CO2 falls but the other rise?

# 1: Biggest predictor of CO2 output

# 2: Biggest strides in decreasing CO2 output

First let's look at what countries produces, import, export and how that changed through the years.

* **co2**: annual total production-based co2 emission. measured in million tonnes. Measured in million tonnes.
* **co2_growth_abs**: annual growth of production-based co2 emission. Measured in million tonnes.
* **co2_growth_prct**: annual percentage growth of production-based co2 emission. measured in million tonnes. Measured in million tonnes.
* **co2_per_capita**, annual total production-based emissions of carbon dioxide (CO₂) per capita, measured in tonnes per person. 

* **trade_co2**: annual net carbon dioxide (CO₂) emissions embedded in trade. The net of import or export via traded goods. Positive = importer of CO₂ emissions; Negative =  exporter. Measured in million tonnes.
* **consumption_co2**: total co2 minus emissions embedded in exports, plus emissions embedded in imports. Consumption > production = importer of CO₂ emissions; Consumption < Production =  exporter. Measured in million tonnes.
* **consumption_co2**: total co2 minus emissions embedded in exports per capita, plus emissions embedded in imports. Consumption > production = importer of CO₂ emissions; Consumption < Production =  exporter. Measured in tonnes per person.

Note for later: 
also interesting: 
* what do we see when we look at rich vs poor (columns regarding GDP)
* what do we see when we look at the CO2 per energy unit.